

<p>
  <strong>Problem:</strong>
  <%= @question.problem %>
</p>

<p>
  <strong>Tags:</strong><br>
  <% @question.tags.each do |t| %>
    <%= t.name %><br>
  <% end %>
</p>

<p>
  <strong>Antworten:</strong><br>

    <% @question.answers.each do |a| %>

      <%= a.answer_body %><br>

  <% end %>
</p>

<%= link_to (image_tag "pen29.png"), edit_question_path(@question) %> 
<%= link_to 'Neue Antwort', new_answer_path(question_id: @question) %> 
<%= link_to 'New Tie', new_ty_path(question_id: @question) %> 
<%= link_to (image_tag "pfeil-nach-links_318-1440.jpg"), questions_path %>
