

<p>
  <strong>Player:</strong>
  <%= @participation.user.name %>
</p>

<p>
  <strong>Gestartet:</strong>
  <%= @participation.created_at %>
</p>

<p>
  <strong>Challenge:</strong>
  <%= @participation.challenge.name %>
</p>

<p>
  <strong>Fertig:</strong>
  <%= @participation.complete %>
</p>

<p>
  <strong>Geschafft:</strong>
  <%= @participation.succeeded %>
</p>

<p>
  <strong>Strikes:</strong>
  <%= @participation.strikes %>
</p>

<p>
  <strong>Eigene Deadline:</strong>
  <%= @participation.created_at + @participation.challenge.max_challenge_time %>
</p>


<%= link_to (image_tag "pen29.png"), edit_participation_path(@participation) %> 
<%= link_to (image_tag "pfeil-nach-links_318-1440.jpg"), participations_path %>
