<p id="notice"><%= notice %></p>

<p>
  <strong>Player:</strong>
  <%= @participation.user.name %>
</p>

<p>
  <strong>Started at:</strong>
  <%= @participation.created_at %>
</p>

<p>
  <strong>Challenge:</strong>
  <%= @participation.challenge.name %>
</p>

<p>
  <strong>Complete:</strong>
  <%= @participation.complete %>
</p>

<p>
  <strong>Succeeded:</strong>
  <%= @participation.succeeded %>
</p>

<p>
  <strong>Strikes:</strong>
  <%= @participation.strikes %>
</p>

<p>
  <strong>Personal Deadline:</strong>
  <%= @participation.created_at + @participation.challenge.max_challenge_time %>
</p>


<%= link_to 'Edit', edit_participation_path(@participation) %> |
<%= link_to 'Back', participations_path %>
