<%= form_for(@message) do |f| %>
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
      <% @message.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :sender_id %><br>
    <% if @sender.nil? %>
      <%= f.select :sender_id, @user_select.map { |u| [u.name,u.id]} %>

    <% else %>
      <%= f.label :sender_id, @sender.name %>
      <%= f.hidden_field :sender_id, :value => @sender.id %>
    <% end %>
  </div>
  
  <div class="field">
    <%= f.label :receiver_id %><br>
    <% if @receiver.nil? %>
      <%= f.select :receiver_id, @receiver_select.map { |u| [u.name,u.id]} %>

    <% else %>
      <%= f.label :receiver_id, @receiver.name %>
      <%= f.hidden_field :receiver_id, :value => @receiver.id %>
    <% end %>
  </div>


  <div class="field">
    <%= f.label :subject %><br>
    <%= f.text_field :subject %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
