<p>
  <strong>Sender:</strong>
  <%= message.sender.name %>
</p>

<p>
  <strong>Receiver:</strong>
  <%= message.receiver.name %>
</p>

<p>
  <strong>Subject:</strong>
  <%= message.subject %>
</p>

<p>
  <strong>Content:</strong>
  <%= message.content %>
</p>
<p>
  <%= link_to "Antworten", new_message_path(receiver_id: message.sender) %>
</p>
