

<h1>Listing Messages</h1>

<h2>Incoming:</h2>
<table>
  <thead>
    <tr>
      <th>Sender</th>
      <th>Subject</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @incoming_messages.each do |message| %>
      <tr>
        <td><%= message.sender.name %></td>
        <td><%= message.subject %></td>
        <td><%= message.content %></td>
        <td><%= link_to 'Show', message %></td>
        <!-- <td><%= link_to 'Edit', edit_message_path(message) %></td> -->
        <td><%= link_to 'Destroy', message, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>Sent Messages:</h2>
<table>
  <thead>
    <tr>
      <th>Receiver</th>
      <th>Subject</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @leaving_messages.each do |message| %>
      <tr>
        <td><%= message.receiver.name %></td>
        <td><%= message.subject %></td>
        <td><%= message.content %></td>
        <td><%= link_to 'Show', message %></td>
        <!-- <td><%= link_to 'Edit', edit_message_path(message) %></td> -->
        <td><%= link_to 'Destroy', message, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<br>

<%= link_to 'New Message', new_message_path %>
