

<h1>Nachrichten</h1>

<h2>Eingehende Nachrichten:</h2>
<table>
  <thead>
    <tr>
      <th>Sender</th>
      <th>Betreff</th>
      <th>Inhalt</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @incoming_messages.each do |message| %>
      <tr>
        <td><%= message.sender.name %></td>
        <td><%= message.subject %></td>
        <td><%= message.content %></td>
        <td><%= link_to (image_tag "lupe_318-1787.jpg"), message %></td>
        <!-- <td><%= link_to (image_tag "pen29.png"), edit_message_path(message) %></td> -->
        <td><%= link_to (image_tag "delete96.png"), message, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>Gesendete Nachrichten:</h2>
<table>
  <thead>
    <tr>
      <th>Empfänger</th>
      <th>Betreff</th>
      <th>Inhalt</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @leaving_messages.each do |message| %>
      <tr>
        <td><%= message.receiver.name %></td>
        <td><%= message.subject %></td>
        <td><%= message.content %></td>
        <td><%= link_to (image_tag "lupe_318-1787.jpg"), message %></td>
        <!-- <td><%= link_to (image_tag "pen29.png"), edit_message_path(message) %></td> -->
        <td><%= link_to (image_tag "delete96.png"), message, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<br>

<%= link_to 'Neue Nachricht', new_message_path %>
