

<h1>Mitglieder</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Gruppe</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @memberships.each do |membership| %>
      <tr>
        <td><%= membership.user.name %></td>
        <td><%= membership.group.name %></td>
        <td><%= link_to (image_tag "lupe_318-1787.jpg"), membership %></td>
        <td><%= link_to (image_tag "pen29.png"), edit_membership_path(membership) %></td>
        <td><%= link_to (image_tag "delete96.png"), membership, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Neue Mitgliedschaft', new_membership_path %>
