<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @membership.user.name %>
</p>

<p>
  <strong>Group:</strong>
  <%= @membership.group.name %>
</p>

<%= link_to 'Edit', edit_membership_path(@membership) %> |
<%= link_to 'Back', memberships_path %>
