<%= form_for(@repley) do |f| %>
  <% if @repley.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@repley.errors.count, "error") %> prohibited this repley from being saved:</h2>

      <ul>
      <% @repley.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <% if @current_user.nil? %>
    <strong>User:</strong>
    <div class="field">
      <%= f.label :user %><br>
      <%= f.select :user_id, @user_select.map { |u| [u.name,u.id]} %>
    </div>
  <% else %>
    <%= f.hidden_field :user_id, :value => @current_user.id %>
  <% end %>

  <strong>Question:</strong>
  <div class="field">
    <% if @question.nil? %>
      <%= f.label :question %><br>
      <%= f.select :question_id, @question_select.map { |q| [q.problem,q.id]} %>
    <% else %>
      <%= f.label @question.problem %><br>
      <%= f.hidden_field :question_id, :value => @question.id %>
    <% end %>
  </div>

  <strong>Answer:</strong>
  <div class="field">
  <% unless @question.nil? %>
      <%= f.select :answer_id, @question.answers.map { |a| [a.answer_body,a.id]} %>
  <% else %>
      <%= f.select :answer_id, @answer_select.map { |a| [a.answer_body,a.id]} %>
  <% end %>
    </div>

  <div class="actions">
    <%= f.submit "Antworten" %>
  </div>
<% end %>
