<p id="notice"><%= notice %></p>

<!-- <%= @repley.user.name %><br> -->
<%= @repley.question.problem %><br>
<%= @repley.answer.answer_body %><br>
<%= @repley.points %><br>


<!-- <%= link_to 'Edit', edit_repley_path(@repley) %> | -->
<!-- <%= link_to 'Back', repleys_path %> | -->
<%= link_to 'Home', '/home' %>
