<%= form_for(@feed) do |f| %>
  <% if @feed.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@feed.errors.count, "error") %> prohibited this feed from being saved:</h2>

      <ul>
      <% @feed.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <strong>Feeder:</strong>
  <div class="field">
    <%= f.label :feeder %><br>
    <%= f.select :feeder_id, @feeder_select.map { |f| [f.user.name,f.id]} %>
  </div>
  <strong>Question:</strong>
  <div class="field">
    <%= f.label :question %><br>
    <%= f.select :question_id, @question_select.map { |q| [q.problem,q.id]} %>
  </div>
  <strong>Priority:</strong>
  <div class="field">
    <%= f.label :priority %><br>
    <%= f.number_field :priority %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
