<p id="notice"><%= notice %></p>
<%= @feed.feeder.user.name %>
<%= @feed.question.problem %>
<%= @feed.priority %>
<% unless @feed.challenge.nil? %>
  <%= @feed.challenge.name %>
<% end %>
<%= link_to 'Edit', edit_feed_path(@feed) %> |
<%= link_to 'Back', feeds_path %>
