



<ul id="navigation">
  <li>
    <%= link_to "Startseite", user_path(current_user) %>
  </li>


  <% if current_user %>
  <li>
    <a href="#">Spielen</a>
    <ul>
      <li><%= link_to "Challenges", challenges_path %></li>
    </ul>
  </li>
  <li>
    <a href="#">Community</a>
    <ul>
      <li><%= link_to "Nachrichten", messages_path %></li>
      <li><%= link_to "Gruppen", groups_path %></li>
    </ul>
  </li>
  <li>
    <a href="#">Fragen</a>
    <ul>
      <li><%= link_to "Fragen", questions_path %></li>
      <li><%= link_to "Neue Frage", new_question_path %></li>
    </ul>
  </li>
  <li>
    <a href="#">Einstellungen</a>
    <ul>
      <li>Benachrichtigungen</li>
      <li>Feed bearbeiten</li>
      <li>Sound</li>
    </ul>
  </li>
  <li>
    <a href="#"><%= current_user.name %></a>
    <ul>
      <li><%= link_to current_user.email, user_path(current_user) %></li>
      <li><%= link_to "Log out", logout_path, method: "delete" %></li>
    </ul>
  </li>
  <% else %>

    <li><%= link_to "Login", 'login' %></a></li>
    <li><%= link_to "Signup", 'signup' %></a></li>

  <% end %>
</ul>
