<p id="notice"><%= notice %></p>

<p>
  <strong>ID:</strong>
  <%= @user.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Points:</strong>
  <%= @user_points %> / <%= @user.question_count %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Groups:</strong>
  <% @user.groups.each do |group| %>
    <%= group.name %><br>
  <% end %>
</p>

<p>
  <strong>Challenges:</strong>
  <% @user.challenges.each do |challenge| %>
    <%= challenge.name %><br>
  <% end %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
