

<p>
  <strong>ID:</strong>
  <%= @user.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Punkte:</strong>
  <%= @user_points %> / <%= @user.question_count %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Gruppen:</strong>
  <% @user.groups.each do |group| %>
    <%= group.name %><br>
  <% end %>
</p>

<p>
  <strong>Aktive Challenges:</strong><br>
  <% @user.active_participations.each do |participation| %>
    <%= participation.challenge.name %><br>
  <% end %>
</p>

<p>
  <strong>Geschaffte Challenges:</strong><br>
  <% @user.succeeded_participations.each do |participation| %>
    <%= participation.challenge.name %><br>
  <% end %>
</p>

<%= link_to (image_tag "pen29.png"), edit_user_path(@user) %> 
<%= link_to (image_tag "pfeil-nach-links_318-1440.jpg"), users_path %>
