<%= form_for(@answer) do |f| %>
  <% if @answer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@answer.errors.count, "error") %> prohibited this answer from being saved:</h2>

      <ul>
      <% @answer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :question %><br>
    <% unless @question.nil? %>
      <%= f.hidden_field :question_id, :value => @question.id %>
      <%= @question.problem %>
    <% else %>
      <%= f.select :question_id, @question_select.map { |q| [q.problem,q.id]} %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :correct %><br>
    <%= f.check_box :correct %>
  </div>
  <div class="field">
    <%= f.label :answer_body %><br>
    <%= f.text_field :answer_body %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
