

<p>
  <strong>Frage:</strong>
  <%= @answer.question.problem %>
</p>

<p>
  <strong>Antwort:</strong>
  <%= @answer.answer_body %>
</p>

<p>
  <strong>Das ist:</strong>
  <%= @answer.correct %>
</p>


<%= link_to (image_tag "pen29.png"), edit_answer_path(@answer) %> 
<%= link_to (image_tag "pfeil-nach-links_318-1440.jpg"), answers_path %>
