

<h1>Feeder</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @feeders.each do |feeder| %>
      <tr>
        <td><%= feeder.user.name %></td>
        <td><%= link_to (image_tag "lupe_318-1787.png"), feeder %></td>
        <td><%= link_to (image_tag "pen29.png"), edit_feeder_path(feeder) %></td>
        <td><%= link_to (image_tag "delete96.png"), feeder, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Neuer Feeder', new_feeder_path %>
