

<h1>Ties</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ties.each do |tie| %>
      <tr>
        <td><%= tie.question.problem %></td>
        <td><%= tie.tag.name %></td>
        <td><%= link_to (image_tag "lupe_318-1787.jpg"), tie %></td>

        <td><%= link_to (image_tag "delete96.png"), tie, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<!-- Tie ist hier TY geschrieben, weil der pluralizer da rumspinnt -->
<%= link_to 'Neuer Tie', new_ty_path %>
