<p id="notice"><%= notice %></p>

<%= @selection.tag.name %><br>
<%= @selection.feeder.user.name %><br>

<%= link_to 'Edit', edit_selection_path(@selection) %> |
<%= link_to 'Back', selections_path %>
