<%= form_for(@challenge) do |f| %>
  <% if @challenge.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@challenge.errors.count, "error") %> prohibited this challenge from being saved:</h2>

      <ul>
      <% @challenge.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :alive %><br>
    <%= f.check_box :alive %>
  </div>
  <div class="field">
    <%= f.label :max_challenge_time %><br>
    <%= f.number_field :max_challenge_time %>
  </div>
  <div class="field">
    <%= f.label :latest_end %><br>
    <%= f.datetime_select :latest_end %>
  </div>
  <div class="field">
    <%= f.label :strict_order %><br>
    <%= f.check_box :strict_order %>
  </div>
  <div class="field">
    <%= f.label :strikes %><br>
    <%= f.number_field :strikes %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
