<!DOCTYPE html>
<html>
<head>
  <title>QuizStudy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render "partials/navigation" %>

  <!-- Messenger Slider -->
  <% if current_user %>
    <%= render "partials/messenger" %>
  <% end %>
  <!-- Messenger Slider -->

<div align="center">

  <!-- Anfang Pop-Up -->
  <%= render "popups/feederpopup" %>
  <%= render "popups/notificationpopup" %>


  <!-- Ende Pop-Up -->

  <%= image_tag "Logo.png" %>

  <!-- <% flash.each do |key, value| %> -->
    <!-- <div class="alert alert-<%= key %>"><%= value %></div> -->
  <!-- <% end %> -->

  <%= yield %>

</div>

</body>
</html>
