<!DOCTYPE html>
<html>
<head>
  <title>QuizStudy</title>
  <link rel="shortcut icon" href="Logo.png" type="image/png" />
 <link rel="icon" href="Logo.png" type="image/png" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!--
<div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>             is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div>
<div>Icon made by <a href="http://www.simpleicon.com" title="SimpleIcon">SimpleIcon</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed under <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div>
<div>Icons made by <a href="http://www.flaticon.com/authors/icon-works" title="Icon Works">Icon Works</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>             is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div>
-->  <div id="oben" >
    <%= render "partials/navigation" %>
  </div>

  <div id="links" >
    <!-- Messenger Slider -->
    <% if current_user %>
      <%= render "partials/messenger" %>
    <% end %>
    <!-- Messenger Slider -->
  </div>

  <div id="mitte" align="center">

    <div style="display:table-cell; vertical-align:middle">
      <%= image_tag "Logo.png",  id: "main_logo" %>
      <p id="notice"><%= notice %></p>

      <div id="haupt">
        <%= yield %>
      </div>

    </div>

    <!-- Anfang Pop-Up -->
    <% if current_user %>
    <%= render "popups/feederpopup" %>
    <%= render "popups/notificationpopup" %>
    <% end %>
    <!-- Ende Pop-Up -->

  </div>

</body>
</html>
