<!DOCTYPE html>
<html>
<head>
  <title>QuizStudy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="oben" >
    <%= render "partials/navigation" %>
  </div>

  <div id="links" >
    <!-- Messenger Slider -->
    <% if current_user %>
      <%= render "partials/messenger" %>
    <% end %>
    <!-- Messenger Slider -->
  </div>

  <div id="mitte" align="center">

    <div style="display:table-cell; vertical-align:middle">
      <%= image_tag "Logo.png",  id: "main_logo" %>
      
      <div id="haupt">
        <%= yield %>
      </div>

    </div>

    <!-- Anfang Pop-Up -->
    <% if current_user %>
    <%= render "popups/feederpopup" %>
    <%= render "popups/notificationpopup" %>
    <% end %>
    <!-- Ende Pop-Up -->

  </div>

</body>
</html>
