<!DOCTYPE html>
<html>
<head>
  <title>ProjectBPlus</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render "partials/navigation" %>

<!-- Versuch Slider -->

    <div id="messages">
      <div  id="button"  >
        <!-- <a href="javascript:void(0)" onclick="toggle_chat('messages');"> -->
        <a href="#" onclick="toggle_chat('messages');">
          <%= image_tag "x.png" %>
        </a>
      </div>
      <!-- Versuch Messenger  -->
        <%= render "partials/messenger" %>
      <!-- Versuch Messenger -->
      </div>
      <div id="aufmachen">
        <div id="button" >
          <!-- <a href="javascript:void(0)" onclick="toggle_chat('2');"></a> -->
          <a href="#" onclick="toggle_chat('2');">
            <%= image_tag "x.png" %>
          </a>
        </div>

    </div>
<!-- Versuch Slider -->

<div align="center">

  <%= yield %>
  </div>
</body>
</html>
